.row{
  margin: 0 !important;
}

section {
  display: flex !important;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--font-black);
  min-height: 500px;
  padding-top: 0px;
}

section h1 {
  margin-top: 20px;
  text-align: center;
  color: var(--font-black);
  font-size: 52px;
  font-weight: 600;
}

section h3 {
  text-align: center;
  font-size: 16px;
  color: var(--font-black);
  margin-top: 20px;
}
section.profile {
  padding: 5px 0px;
  box-shadow: 0px 5px 10px rgb(255, 255, 255, 0.2);
}

section.invert-color {
  background-color: var(--black-color);
}

.social-list a {
  text-decoration: none;
  color: var(--grey-color);
  font-size: 25px;
}

section ul.social-list a:hover {
  text-decoration: none;
  color: var(--black-color);
  scale: 110%;
}

section.invert-color ul.social-list a:hover {
  color: var(--yellow-color);
}

section.invert-color .name,
section.invert-color .cargo,
section.invert-color .social-list a {
  text-decoration: none;
  color: var(--sand-color);
}

section p.descricao {
  margin: 40px 0;
  color: var(--sand-color);
  text-shadow: 0 0 1px;
}

section.invert-color p.descricao {
  color: var(--primary-color);
}

section p.title-tag {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 600;
  color: var(--sand-color);
}

section .profile-photo {
  height: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 50%;
  /* box-shadow: 0px 0px 55px -20px var(--grey-color); */
}

li {
  display: inline-flex;
  margin: 0 6px;
}


hr:not([size]).hr.hr-blurry {
  background-color: var(--mdb-divider-blurry-bg);
  background-image: var(--mdb-divider-blurry-bg-image);
  height: var(--mdb-divider-blurry-height);
  opacity: var(--mdb-divider-blurry-opacity);
}

hr:not([size]).hr {
  --mdb-divider-height: 2px;
  --mdb-divider-bg: #f5f5f5;
  --mdb-divider-opacity: 1;
  --mdb-divider-blurry-bg: transparent;
  --mdb-divider-blurry-bg-image: linear-gradient(90deg,
      transparent,
      #666,
      transparent);
  --mdb-divider-blurry-height: 1px;
  --mdb-divider-blurry-opacity: 0.25;
  height: var(--mdb-divider-height);
  background-color: var(--mdb-divider-bg);
  opacity: var(--mdb-divider-opacity);
}

hr.hr,
hr.vr {
  border-top: none !important;
}

section.integrantes {  
  /* position: relative; */
  background: radial-gradient(circle, #4f46e4 2%, transparent 7%), radial-gradient(circle at bottom left, #4f46e4 2%, transparent 2%), radial-gradient(circle at bottom right, #4f46e4 2%, transparent 2%), radial-gradient(circle at top left, #4f46e4 2%, transparent 6%), radial-gradient(circle at top right, #4f46e4 0%, transparent 6%);
  background-size: 1em 1em;
  /* background-color: #ffffff; */
  /* opacity: 0.3; */
  /* box-shadow: inset 0px 0px 50px 50px white; */
}